.nav__block { 
    background-color: $yellow_light;

    .nav__container {
        max-width: $max_container;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 74px;
    }
    @media (min-width: $desktop) {
        .nav__container {
            padding: 0px 100px;
        }
        .nav__link {
            padding-right: 80px;
        }
        .nav__social:not(:last-child) {
            margin-right: 40px;
        }
    }
    @media (min-width: $tablet) and (max-width: $to_desktop) {
        .nav__container {
            padding: 0px 74px;
        }
        .nav__link {
            padding-right: 36px;
        }
        .nav__social:not(:last-child) {
            margin-right: 36px;
        }
    }
    @media (max-width: $to_tablet) {
        .nav__container {
            padding: 0px 20px;
        }
        .nav__link {
            padding-right: 24px;
        }
        .nav__social:not(:last-child) {
            margin-right: 24px;
        }
    }
    .nav__list {
        display: flex;
        justify-content: flex-start;
        align-items: center; 
    }

    .nav__item {
        list-style-type: none;
    }

    .nav__link {
        text-decoration: none;
        font-size: 18px;
        color: $black;
        padding-top: 26px;
        padding-bottom: 26px;
        color: $black;
        transition: 800ms;
    }
    .nav__link:hover {
        color: $black_transparent;
    }


    .nav__socials {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .nav__social {
        width: 30px;
        height: 30px;
        mask-size: 30px;
        mask-repeat: no-repeat;
        background-color: $black;
        outline: none;
        border: none;
        transition:550ms ease;
    }
    .nav__social:hover {
        background-color: $pink;
    }
    .telegram {
        mask-image: $telegram;
    }
    .facebook {
        mask-image: $facebook;
    }
    .github {
        mask-image: $github;
    }
}

