@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100; 300; 400; 500; 700; 900&display=swap');

@import './preset';
@import './header';
@import './container.scss';
@import './skill';
@import './form';
@import './works.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maxcontainer {
  max-width: $max_container;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}